body {
	background-image: url(../images/background-2462426.jpg);
	min-height: 500px;
	background-repeat: repeat;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Whole Page header DIV */
.header {
	background-color: white;
	width: 100%;
}

/* menu */
.menu {
	width: 960px;
	margin: auto;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: relative;
    right: 300px;
}

#name {
	float: left;
	display: block;
    color: white;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
    background: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    position: relative;
    left: 400px;
}

li {
	float: right;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    padding-top: 30px;
    padding-bottom: 30px; 
    text-decoration: none;
    background: grey;
    font-size: 20px;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: orange;
}

/* About me Div section */
.aboutMeSection {
	height: 550px;
	width: 650px;
	border: solid;
	border-color: #cccccc;
	border-width: thick;
	position: relative;	
	left: 100px;
	top: 50px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 25px;
	padding-bottom: 10px;
	background-color: white;
	margin-bottom: 150px;
}

/* headerAbout */ 
.headerAbout {
	font-family: 'Georgia', Times, Times New Roman, serif;
	float: left;
	color: #4aaaa5;
	font-weight: bold;
	top: 0px;
	width: 620px;
	height: 150px;
	font-size: 20px;
	padding-top: 20px;
	text-align: left;
	background: white;
	margin-left: 20px;
}

/*horizontal line */
#hr1 {
	width: 600px;
	position: absolute;
	left: 15px;
	right: 20px;

}
/* Profile Pic */
.profile_picture {
	float: left;
	position: absolute;
	padding-top: 20px;
	left: 25px;
	top: 100px;
}

/* blurb */
.summaryBlurb {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #777777;
	position: absolute;
	left: 240px;
	top: 120px;
	float: left;
	margin-right: 25px;
	text-align: justify;
    text-justify: inter-word;
}

/* sideBar */
.sideBar {
	background-color: white;
	width: 270px;
	height: 200px;
	float: right;
	position: absolute;
	right: 305px;
	top: 130px;
	border: solid;
	border-color: #cccccc;
	border-width: thick;
}

/* sideBar Title */
.profileAboutme{
	font-family: 'Georgia', Times, Times New Roman, serif;
	float: left;
	color: #4aaaa5;
	font-weight: bold;
	top: 0px;
	font-size: 20px;
	padding-top: 45px;
	text-align: center;
	background: white;
	margin-left: 40px;
}

/* Social Media Icons */
.LinkedIn {
	position: absolute;
	top: 100px;
	left: 40px;
}

.StackOverflow {
	position: absolute;
	top: 100px;
	left: 100px;
}

.GitHub {
	position: absolute;
	top: 100px;
	left: 170px;
}

/* footer */
.footer {
  clear: both;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background-color: #666666;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-top: 100px;
}