
/* menu */

.menu {
	width: 960px;
}
ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

#name {
	float: left;
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background: grey;
    margin-left: 150px;
}

li {
	float: right;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background: grey;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: orange;
}

/* About me Div section */
.aboutMeSection {
	clear: both;
	float: left;
	height: 450px;
	width: 650px;
	border: solid;
	border-color: #cccccc;
	border-width: thin;
	position: fixed;	
	left: 150px;
	top: 200px;
	padding-top: 25px;
	padding-bottom: 10px;
	background-color: white;
}

/* headerAbout */ 
.headerAbout {
	font-family: 'Georgia', Times, Times New Roman, serif;
	float: left;
	color: #4aaaa5;
	font-weight: bold;
	position: absolute;
	left: 20px;
	top: 0px;
	width: 90%;
	font-size: 30px;
	padding-left: 20px;
	padding-top: 40px;
	text-align: left;
	background: white;
}

/* Profile Pic */
.profile_picture {
	float: left;
	position: absolute;
	padding-top: 20px;
	left: 20px;
	top: 100px;
}

/*horizontal line */
#hr1 {
	margin-left: 10px;
	margin-right: 10px;
}

/* blurb */
.summaryBlurb {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #777777;
	position: absolute;
	left: 240px;
	top: 120px;
	float: left;

}

